html,
body {
    height: 100%;
}
body {
    margin: 0;

    font-family: sans-serif;
    font-weight: 100;
}

.editContainer{
    width: 400px;
    margin-top: 6px;
    position: absolute;
    margin-left: 20%;

}


label{

    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
    line-height: inherit;
    color: black;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
}
table {
    background: linear-gradient(45deg ,#5f2c82,rgba(158, 136, 218, 0.5));
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}
th {
    text-align: left;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.glyphicon-pencil:before {
    content: "\270f";
    color: blue;
}

.glyphicon-remove:before {
    content: "\e014";
    color: red;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttonz{

    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;

}

.buttonED{
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;

}


